<template name="aktivnosti">
  <!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Активности</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-8 blog-sidebar">
          <h4>Пребарај</h4>
          <div class="input-group">
            <span class="input-group-btn">
              <button id="search-clear" class="btn" type="button"><i class="fa fa-remove"></i></button>
            </span>
            <input class="form-control input-md" placeholder="Пребарај по наслов" id="appendedInputButtons" type="text">
            <span class="input-group-btn">
              <button id="search-aktivnosti" class="btn" type="button">Пребарај&nbsp;&nbsp;<i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
      {{#each aktivnosti}}
        <div class="row service-wrapper-row">
          <div class="col-sm-4">
            <div class="service-image">
              <img src="{{image.url}}" alt="activity image missing :(">
            </div>
          </div>
          <div class="col-sm-8">
            <h3>{{title}}</h3>
            <p class="text-justify">
              {{description}}
            </p>
            <a class="btn btn-small pull-right" href="{{pathFor route='aktivnost'}}">Прикажи активност&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i></a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="container text-center">
    {{#if Template.subscriptionsReady }}
      {{#if hasMoreAktivnosti}}
        <button id="load-more-activities" class="btn btn-large btn-primary">
          Прикажи повеќе&nbsp;&nbsp;<i class="fa fa-plus"></i>
        </button>
      {{/if}}
    {{else}}
      <div class="loading">
        {{> spinner }}
      </div>
    {{/if}}
  </div>
</template>

<!-- <h4>Последни постови</h4>
<ul class="recent-posts">
  <li><a href="#">Автократски практики на владеење</a></li>
  <li><a href="#">Идејата на предложениот проект</a></li>
  <li><a href="#">Појава на граѓански, протестни движења</a></li>
  
</ul>
<h4>Категорија</h4>
<ul class="blog-categories">
  <li><a href="#">Активности</a></li>
  <li><a href="#">Материјали</a></li>
</ul>
<h4>Архива</h4>
<ul>
  <li><a href="#">Јануар 2015</a></li>
  <li><a href="#">Фебруар 2015</a></li>
  <li><a href="#">Март 2015</a></li>
  <li><a href="#">Април 2015</a></li>
  <li><a href="#">Мај 2015</a></li>
</ul> -->