<template name="aktivnosti">
  <!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Активности</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      {{#each aktivnosti}}
        <div class="row service-wrapper-row">
          <div class="col-sm-4">
            <div class="service-image">
              <img src="{{image.url}}" alt="activity image missing :(">
            </div>
          </div>
          <div class="col-sm-8">
            <h3>{{title}}</h3>
            <p class="text-justify">
              {{description}}
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="container text-center">
      <button id="load-more-activities" class="btn btn-large btn-primary">Прикажи повеќе&nbsp;&nbsp;<i class="fa fa-plus"></i></button>
  </div>
</template>