       <template name="aktivnosti">
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Активности</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row service-wrapper-row">
        			<div class="col-sm-8">
    					<p class="text-justify">
                        
    					</p>
    				</div>
				</div>
				<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="services2.jpg" alt="Service Name">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>Активност 2</h3>
    					<p class="text-justify">
    						ЕУ, своето олеснување при решавањето на кризата ќе го врами на начин што ќе одговара на нејзините надлежности и мандат. Повеќе од извесно е дека ќе се создаде нова реформска рамка, по примерот на Пристапниот дијалог на високо ниво (ПДВН) од 2012 година, а која ќе се насочи на Поглавјата 23 (Правосудство и темелни пра) и 24 (Правда, слобода и безбедност). Македонија и граѓанскиот сектор имаа мешано искуство со ПДВН – иако замислен како инклузивен процес базиран на патоказ на реформи, ПДВН беше премногу формален механизам без суштински реформи.
    					</p>
    				</div>
				</div>
				<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="services3.jpg" alt="Service Name">
        				</div>
        			</div>
        			<div class="col-sm-8">
                    <!-- <div class="date">14 May 2013 </div> -->
    					<h3>Активност 3</h3>
    					<p class="text-justify">
    						ЕУ, своето олеснување при решавањето на кризата ќе го врами на начин што ќе одговара на нејзините надлежности и мандат. Повеќе од извесно е дека ќе се создаде нова реформска рамка, по примерот на Пристапниот дијалог на високо ниво (ПДВН) од 2012 година, а која ќе се насочи на Поглавјата 23 (Правосудство и темелни пра) и 24 (Правда, слобода и безбедност). Македонија и граѓанскиот сектор имаа мешано искуство со ПДВН – иако замислен како инклузивен процес базиран на патоказ на реформи, ПДВН беше премногу формален механизам без суштински реформи. 
    					</p>
    				</div>
				</div>
	        </div>
	    </div>
        </template>