<template name="celna_grupa">
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>ЦЕЛНА ГРУПА И ГЕОГРАФСКА ЛОКАЦИЈА</h1>
        </div>
        </div>
        </div>
        </div>
        
     
        
  <div class="section">
  <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3></h3>
        
        <p class="text-justify">
        Генерална целна група на проектот се граѓаните во Република Македонија. Притоа, ги немаме на ум само формалните групи како професионалните граѓански организации, тинк-тенковите и застапувачките организации, туку и активистите, неформалните групи и учесниците во протестните движења, кои придонесоа за отварање на политичкиот простор во последниот период. </p>
        <p class="text-justify">
        Неопходен член во проектот се и медиумите и новинарите, кои ќе бидат третирани со посебно внимание како пренесувачи на пораките до генералната јавност. Проектот ќе биде фокусиран и на политичките партии, кои несомнено ќе бидат клучни актери во реформскиот процес кој ќе следи. За крај, но секако меѓу најважното, проектот ќе биде насочен и кон европските институции и нивните претставници, како во Македонија така и во Брисел. Со проектот ќе бидат опфатени сите региони во Македонија, иако – за волја на вистината – поради спецификите на нашата држава најголем дел од активностите ќе се случат во Скопје.</p>
      
      
    </div>
    <!-- <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9 video-wrapper">
        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/47000322?title=0&amp;byline=0&amp;portrait=0" max-width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div> -->
  </div>
</div>
</div>

</template>
