<template name="doma">
<div class="section">
  <div class="container">
    <div class="row">
      {{#if Template.subscriptionsReady }}
      <div class="col-md-6 col-lg-6">
          <div id="carousel-c4r" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-c4r" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-c4r" data-slide-to="1"></li>
              <li data-target="#carousel-c4r" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              {{#each aktivnosti}}
                <div class="item {{active}}">
                  <img class="carousel-img" src="{{imageCarousel.url}}" alt="{{title}}">
                  <div class="carousel-caption">
                    {{title}}
                  </div>
                </div>
              {{/ each}}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-c4r" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-c4r" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      <!-- end carousel -->
      <div class="col-md-6 col-lg-6">
        <div class="posledni-postovi">
          <h2>Последни новости</h2>
          {{# each aktivnosti }}
            {{> aktivnostDetails }}
          {{/ each }}
        </div>
      </div>
      {{ else }}
      <div class="col-xs-12 loading-doma">
        <h3 class="text-center">Loading ...</h3>
        {{> spinner }}
      </div>
      {{/if}}
    </div>
  </div>
</div>
</template>

<template name="aktivnostDetails">
  <div class="caption"><h4>{{title}}</h4></div>
  <div class="date">{{ createdAt }}</div>
  <div class="intro"><p>{{ description }}&nbsp;...&nbsp;<a href="{{ pathFor route='aktivnost'}}">Повеќе</a></p></div>
</template>