<template name="doma2">
    <div class="section">
        <div class="container">
        <div class="row">
        <div class="owl-carousel">
		  <div> 
		  		<ul> 
                    <!-- Slide 1 -->
                    <li>
                      
                        <!-- Slide Image -->
                        <img src="homepage-slider/slide1.png" alt="Slide 1" />
                    </li>
                    <!-- End Slide 1 -->
                    <!-- Slide 2 -->
                    <li >
                     
                        <!-- Slide Image -->
                        <img src="homepage-slider/slide2.png" alt="Slide 2" />
                    </li>
                    <!-- End Slide 2 -->
                    <!-- Slide 3 -->
                    <li >
                      
                        <!-- Slide Image -->
                        <img src="homepage-slider/slide3.png" alt="Slide 3" />
                    </li>
                    <!-- End Slide 3 -->
                </ul>
		  </div>
		  </div>
		  </div>
		  </div>
		  </div>
		  </template>
		  
		