<template name="footer">
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="col-footer col-md-4 col-xs-12">
        <h3>Последни твитови</h3>
        <a 
          class="twitter-timeline twitter-custom" 
          href="https://twitter.com/Deskoski"
          data-widget-id="640520875754811392"
          data-chrome="transparent noheader noscrollbar"
          >
            Tweets by @Deskoski
        </a>        
      </div>
      <div class="col-footer col-md-4 col-xs-12">
        <h3>Контакт</h3>
        <p class="contact-us-details">
            <b>Адреса:</b> МЦЕО, Мајаковски 2/4 1000, Скопје<br/>
            <b>Телефон</b>+389 (0)2 321 75 11<br/>
            <b>е-пошта:</b> <a href="mailto:mcet@mcet.org.mk">mcet@mcet.org.mk</a>
          </p>
      </div>
      <div class="col-footer col-md-2 col-xs-12">
        <h3>Следи не</h3>
        <ul class="footer-stay-connected no-list-style">
          <li><a href="#" class="facebook"></a></li>
          <li><a href="#" class="twitter"></a></li>
        </ul>
      </div>
      <div class="col-footer col-md-2 col-xs-12">
        <h3>Донатори</h3>
        <div class="portfolio-item">
        <div class="portfolio-image">
        <li>
          <a href="page-portfolio-item.html"><img src="service-icon/usaid.png" alt="Project Name"></a>
          </li>
           <li>
          <a href="page-portfolio-item.html"><img src="service-icon/nvo.png" alt="Project Name"></a>
          </li>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="footer-copyright">&copy; 2015 citizens4reforms</div>
      </div>
    </div>
  </div>
</div>
</template>