<template name="footer">
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="col-footer col-md-4 col-xs-12">
        <h3>Последни твитови</h3>
        <a 
         class="twitter-timeline" 
         href="https://twitter.com/Mcetmk" 
         data-widget-id="643785442693902336"
         data-chrome="transparent noheader">
         Tweets by @Mcetmk
       </a>       
      </div>
      <div class="col-footer col-md-4 col-xs-12">
        <h3>Контакт</h3>
        <p class="contact-us-details">
            <b>Адреса:</b> МЦЕО, Мајаковски 2/4 1000, Скопје<br/>
            <b>Телефон</b>+389 (0)2 321 75 11<br/>
            <b>е-пошта:</b> <a href="mailto:mcet@mcet.org.mk">mcet@mcet.org.mk</a>
          </p>
      </div>
      <div class="col-footer col-md-2 col-xs-12">
        <h3>Партнери</h3>
        <a href="#" class="thumbnail-footer">
          <img src="/logos/8sept-logo-160x52.jpg" alt="8Sept logo">
        </a>
        <a href="http://nvoinfocentar.mk/" class="thumbnail-footer">
          <img src="/logos/nvo-logo-160x160.png" alt="NVO logo">
        </a>
      </div>
      <div class="col-footer col-md-2 col-xs-12">
        <h3>Донатори</h3>
        <div class="row">
          <a href="https://www.usaid.gov/where-we-work/europe-and-eurasia/macedonia" class="thumbnail-footer">
            <img src="/logos/usaid-logo-160x52.png" alt="US AID logo">
          </a>
          <a href="http://www.fosm.mk/" class="thumbnail-footer">
            <img src="/logos/foom-logo-140x140.jpg" alt="FOOM logo">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="footer-copyright">&copy; 2015 citizens4reforms</div>
      </div>
    </div>
  </div>
</div>
</template>