        <template name="gallery">

        <!-- Portfolio -->
        <div class="portfolio portfolio-page container">
            <div class="row">
                <div class="portfolio-navigator span12">
                    <h4 class="filter-portfolio">
                        <a class="all" id="active-imgs" href="#">Настан 1</a> /
                        <a class="web-design" id="" href="#">Настан 2</a> /
                        <a class="logo-design" id="" href="#">Настан 3</a> /
                        <a class="print-design" id="" href="#">Настан 4</a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="portfolio-img">
                    <li data-id="p-1" data-type="web-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work1.jpg" rel="prettyPhoto">
                                <img src="/gallery/work1.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-2" data-type="logo-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work2.jpg" rel="prettyPhoto">
                                <img src="/gallery/work2.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-3" data-type="print-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work3.jpg" rel="prettyPhoto">
                                <img src="/gallery/work3.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-4" data-type="web-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work4.jpg" rel="prettyPhoto">
                                <img src="/gallery/work4.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-5" data-type="logo-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work5.jpg" rel="prettyPhoto">
                                <img src="/gallery/work5.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-6" data-type="print-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work6.jpg" rel="prettyPhoto">
                                <img src="/gallery/work6.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-7" data-type="web-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work7.jpg" rel="prettyPhoto">
                                <img src="/gallery/work7.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-8" data-type="print-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work8.jpg" rel="prettyPhoto">
                                <img src="/gallery/work8.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    <li data-id="p-9" data-type="web-design" class="span3">
                        <div class="work">
                            <a href="/gallery/work9.jpg" rel="prettyPhoto">
                                <img src="/gallery/work9.jpg" alt="">
                            </a>
                            <h4>ЕУ</h4>
                            <p>Подигната свест за можностите на реформските механизмите на ЕУ за демократизација на државата и општеството.</p>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
		</template>