<template name="potrebiProblemi">
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>ПОТРЕБИ И ПРОБЛЕМИ</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3></h3>
          <p class="text-justify">
            {{{ dict 'Потреби и проблеми.Потреби и проблеми' }}}
          </p>
         </div>
      </div>
    </div>
  </div>
</template>
