<template name="potrebiProblemi">
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>ПОТРЕБИ И ПРОБЛЕМИ</h1>
        </div>
        </div>
        </div>
        </div>
        
     
        
  <div class="section">
  <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3></h3>
      <p class="text-justify">
        Во 2014 и 2015 година, автократски практики на владеење на владеачката елита ги доживуваат најголемите предизвици досега. Појавата на низа граѓански, протестни движења доведе до тоа да се отворат можности за посуштинска демократизација на политичкиот и општествениот простор. Аферата „Прислушување“ политичката криза ја претвори во државна и доведе до крајна поларизација на општеството во два табора. Со оглед не непостоечкиот капацитет на институциите за решавање на кризи од овој размер, решавањето на кризата се одвива со медијаторство на меѓународната заедница, особено на ЕУ. Впрочем, речиси 60% од испитаниците во анкета на МЦЕО спроведена неодамна се согласиле со ставот дела “ЕУ треба да игра голема улога во решавањето на моменталната политичка криза“.</p>
      <p class="text-justify">
        ЕУ, своето олеснување при решавањето на кризата ќе го врами на начин што ќе одговара на нејзините надлежности и мандат. Повеќе од извесно е дека ќе се создаде нова реформска рамка, по примерот на Пристапниот дијалог на високо ниво (ПДВН) од 2012 година, а која ќе се насочи на Поглавјата 23 (Правосудство и темелни пра) и 24 (Правда, слобода и безбедност). Македонија и граѓанскиот сектор имаа мешано искуство со ПДВН – иако замислен како инклузивен процес базиран на патоказ на реформи, ПДВН беше премногу формален механизам без суштински реформи. Делумно поради неактивност и делумно  поради непознавање на можностите, изостана силна граѓанска вклученост во овој процес.</p>
      <p class="text-justify">
        Идејата на предложениот проект е да се зголемат познавањата на граѓаните за механизмите со кои ЕУ ќе ја решава кризата со што ќе се создаде поширока граѓанска платформа кој ќе застапува за суштинско искористување на механизмите на ЕУ за демократизација на државата во периодот кој следи. Со тоа ќе се избегнат грешките од претходните реформски рамки, кои и покрај тоа што на хартија беа предвидени како инклузивни, во реалност се случуваа на релација македонска администрација – ЕУ, без суштинско вклучување на граѓаните. Проектот ќе гради на моменталниот демократски потенцијал во кој се повеќе граѓани, формални и неформални групи се заинтересирани за учество во демократските процеси, и тоа преку директно инволвирање на сите заинтересирани во процесот.
      </p>
      
    </div>
    <!-- <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9 video-wrapper">
        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/47000322?title=0&amp;byline=0&amp;portrait=0" max-width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div> -->
  </div>
</div>
</div>

</template>
