<template name="zaOrganizacijata">
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>ЗА НАС</h1>
        </div>
      </div>
    </div>
  </div>
        
  <div class="section">
  <div class="container">
  <div class="row">

    <div class="col-sm-6">
    <div class="thumbnail">
      <img src="/logos/MCET_sml.png" alt="MCET">
    </div>
    </div>
    <div class="col-sm-6">
      <h3></h3>
      <p class="text-justify">
        <strong>Македонскиот центар за европско образование </strong>го поддржува процесот на пристапување на Република Македонија во Европската унија преку истражувања базирани на податоци, професионални обуки, консултантски услуги, регионална соработка, лобирање за промени и развој на јавни политики. Македонскиот центар за европско образование е think-tank организација која се занимава со прашањата поврзани со ЕУ интеграцијата на Македонија и одблиску го следи процесот на пристапување на Република Македонија во Европската унија.
      </p>
    
    </div>
    <!-- <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9 video-wrapper">
        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/47000322?title=0&amp;byline=0&amp;portrait=0" max-width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div> -->
  </div>
</div>
</div>

<!-- Press Coverage -->
  <div class="section">
  <div class="container">
    
  <div class="row">
    <div class="col-md-6 col-sm-3">
      <div class="">
        <h2>Партнери во проектот</h2>
        <a href="#"></a>
      </div>
    </div>
    <div class="col-md-6 col-sm-3">
      <div class="">
        <h2>Донатори</h2>
        <a href="#"></a>
      </div>
    </div>
   
  </div>
</div>
</div>
<!-- Press Coverage -->

<div class="section">
    <div class="container">
      
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-wrapper">
            <img src="/service-icon/nvo.png" alt="Service Name">
            <h3>НВО Инфо центар</h3>
            <p> <a href="#">Повеќе...</a></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-wrapper">
            <img src="/service-icon/8miSept.png" alt="Service Name">
            <h3>8-ми Септември</h3>
            <p><a href="#">Повеќе...</a></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-wrapper">
            <img src="/service-icon/usaid.png" alt="Service Name">
            <h3>УСАИД Македонија</h3>
            <p><a href="#">Повеќе...</a></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-wrapper">
            <img src="/service-icon/foom.png" alt="Service Name">
            <h3>ФООМ</h3>
            <p><a href="#">Повеќе...</a></p>
          </div>
        </div>
   
   
      </div>
    </div>
</div>
</template>